//custom variables
$primary: #c36be8;
$secondary: #1e1e1e;

// import the functions & variables
@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";

$custom-theme-colors: (
  "darkGrey": #333333,
  "mediumGrey": #434343,
  "lightGrey": #5d5d5d,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);
//importing bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";
